server/node_modules
clients/webclient/node_modules
server/.esbuild
server/.serverless
.env
server/infrastructure/.serverless
common/settings.ts
node_modules/@types
server/.build
set_env.bat
server/.env.*.local
set_env.sh
